# Build output directories
/dist
/build

# Environment variables
.env

# macOS system files
.DS_Store

# File uploads
/uploads

# Node modules
/node_modules

# Yarn error logs
yarn-error.log

# Medusa specific files
.medusa-copy
.medusa

# IDE specific files
/.idea

# Static files
static

# Test coverage reports
coverage

# TypeScript build info
./tsconfig.tsbuildinfo

# Lock files
# package-lock.json
yarn.lock

# Database dumps
medusa-db.sql

# Cache directories
.cache

# Yarn specific files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Allow all files in src directory
!src/**
